<h1>タスク一覧</h1>

<% if @tasks.any? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>タスク</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <% if task.status == '未'%>
          <% status = "danger" %>
        <% elsif task.status == '済' %>
          <% status = "active" %>
        <% else %>
          <% status = "warning" %>
        <% end %>
          
        <tr class="<%= status %>">
          <td> <%= link_to task.id, task_path(task) %> </td>
          <td> <%= task.content %> </td>
          <td> <%= task.status %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<%= paginate @tasks %>

<% else %>

　<h2>タスクがありません</h2>
　<br>
<% end %>

 <%= link_to '新規タスクの作成',  new_task_path, class: 'btn btn-lg btn-primary' %>